<h1>Checkout</h1>

<%= form_with(model: @order, url: orders_path, method: :post) do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
<br/>
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
<br/>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
<br/>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
<br/>
  <div>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>
<br/>
  <div>
    <%= form.label :province %>
    <%= form.text_field :province %>
  </div>

  <h3>Your Payment Method is Cash On Delivery(COD)</h3>
  <div>
    <%= form.submit 'Place Order' %>
  </div>
<% end %>
