<h1>Product List</h1>

<% if current_user %>
  <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %>
<% else %>
  <%= link_to 'Sign In', new_user_session_path %>
<% end %>

<% if policy(Product).create? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>

<%= link_to 'View Cart', cart_path(current_user.cart), class: 'cart-link' if current_user&.cart %>

<% if current_user&.isAdmin? %>
  <%= link_to 'Manage Users', users_path %>
<% end %>

<% if current_user&.isAdmin? %>
  <%= link_to 'New Category', new_category_path %>
<% end %>

<% if current_user&.isAdmin? %>
  <%= link_to 'View All Orders', admin_index_orders_path %>
<% end %>

<%= form_tag products_path, method: :get, class: 'search-form' do %>
  <div class="field">
    <%= label_tag :q, 'Product Name contains:' %>
    <%= text_field_tag :q, params[:q], id: 'product-search' %>
  </div>

  <div class="actions">
    <%= submit_tag 'Search' %>
  </div>
<% end %>

<% @products.each do |product| %>
  <div class="product">
    <h2><%= link_to product.name, product %></h2>
    <p><strong>Description:</strong> <%= product.description %></p>
    <p><strong>Price:</strong> <%= number_to_currency(product.price, unit: "PKR", precision: 2) %></p>
    <p><strong>Stock Quantity:</strong> <%= product.stock_quantity %></p>

    <% if current_user && current_user.isAdmin? %>
      <%= button_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-product' %>
    <% end %>
    <%= button_to 'Add to Cart', add_to_cart_product_path(product), method: :post %>
  </div>
<% end %>
<%= paginate @products %>

<script>
  $(function() {
    $('#product-search').autocomplete({
      source: '/products/autocomplete',
      minLength: 2
    });

    $('#product-search').on('input', function() {
      console.log('i am working');
      var searchTerm = $(this).val();
      if (searchTerm.length >= 2) {
        $('#product-search').autocomplete('search', searchTerm);
      }
    });
  });
</script>
